<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    * {
      box-sizing: border-box;
    }

    .html,
    body {
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


    .container {
      display: flex;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-direction: column;
    }

    .input-file {
      padding: 0.5rem;
      border: 1px solid #333333;
    }

    .input-submit {
      padding: 0.7rem;
      background: #333333;
      border: none;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-size: 0.80rem;
    }

    .myform {
      display: flex;
    }

    .content {
      width: 600px;
      max-width: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }

    .content-group {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .content-item {
      border: 1px solid #c6c6c6;
      overflow: hidden;
      list-style: none;
      width: 100%;
      margin-top: 1rem;
      position: relative;
    }

    .content-item p {
      padding: 0.5rem;
    }

    .content-item img {
      width: 100%;
      max-width: 100%;
    }


    .action-btn {
      border: none;
      color: white;
      background: #ff0000;
      padding: 5px;
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
    }
  </style>
  <title>Upload File using GridFs</title>
</head>

<body>
  <div class="container">
    <h1>Upload your file!!</h1>
    <form class="myform" action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" id="file" class="input-file">
      <input type="submit" value="Submit" class="input-submit">
    </form>
    <div class="content">
      <% if(files) {%>
      <ul class="content-group">
        <% files.forEach(function(file) {%>
        <li class="content-item">
          <% if(file.isImage) {%>
          <a href="/image/<%= file.filename %>">
            <img src="/image/<%= file.filename%>" alt="">
          </a>
          <% } else {%>
          <p><%= file.filename %></p>
          <% } %>
          <div class="action">
            <form action="/files/<%= file._id %>" method="POST">
              <input class="action-btn" type="submit" value="Delete">
            </form>
          </div>
        </li>
        <%})%>
      </ul>
      <%} else {%>
      <p>No Files Found!!</p>
      <%}%>
    </div>
  </div>
</body>

</html>